body{
	background-color: #ffffff;
	font-family: sans-serif;
}

.slider{
	max-width: 600px;
	border:5px solid  #cfb53b;
	border-radius: 2%;
	box-shadow: 5px 5px 2px #444444;
	margin:80px auto;
	position: relative;
	object-fit: contain;
}

.slider .left-slide{
  background: url(https://image.flaticon.com/icons/svg/130/130882.svg) no-repeat;
  position: absolute;
  height: 50px;
  width: 50px;
  top:50%;
  cursor: pointer;
  margin-top: -20px;
  opacity: .6;
  left: -70px;
  
}
.slider .right-slide{
	background: url(https://image.flaticon.com/icons/svg/130/130884.svg) no-repeat;
	position: absolute;
	height: 50px;
	width: 50px;
	top:50%;
	cursor: pointer;
	margin-top: -20px;
	opacity: .6;
	right: -70px;
  }
.slider .left-slide:hover,.slider .right-slide:hover{
opacity: 1;
}

.slider .slider-items .item img{
	max-width: 100%;
	display: block;
	animation:zoom 1s ease;
}

@keyframes zoom{
	0%{transform: scale(1);opacity: 0}
	50%{transform: scale(1.05);}
	100%{transform: scale(1);opacity:1}
}
.slider .slider-items .item{
	display: none;
	position: relative;
}
.slider .slider-items .item .caption{
position: absolute;
width: 100%;
height: 60px;
bottom: 0px;
left: 0px;
background-color: rgba(0,0,0,.5);
line-height: 60px;
text-align: center;
color: #ffffff;
font-size: 30px;

}

.slider .slider-items .item.active{
	display: block;
}








